body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px;
    font-size: 1em;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: rgba(19, 5, 5, 0.326);
    color: aliceblue;
}

#Calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden ;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
    margin-block-end: 1px;
}
button{
    width: 70px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.486);
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(1, 4, 6, 0.18);
}
button:active{
    background-color: rgba(0, 0, 0, 0.242);
}
.mybtn{
    background-color: rgb(0, 166, 255);
}
.mybtn:hover{
    background-color: blue;
}
.mybtn:active{
    background-color: blue;
}